
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #003db7;
    letter-spacing: 2px;
    font-weight: 600;
    font-variant: small-caps;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

body {
    background-image: url("../images/giphy.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  

label {
    margin-right: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 200px;
}

textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 500px;
  }

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0062cc;
  }
  
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

th {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styles for the recommended subject and semester */
.recommendation {
    margin: 50px auto;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.recommendation h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.suggestion {
    margin: 50px auto;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.suggestion h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#feedbackname {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 10px;
  }
  
  #feedbackname:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  

.recommendation p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Styles for the table of another suggested subjects */
.suggested {
    margin: 50px auto;
    max-width: 1000px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.suggested h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.suggested table {
    margin-top: 20px;
}

.suggested th {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.suggested td {
border: 1px solid #ddd;
padding: 10px;
text-align: center;
font-size: 18px;
}

.suggested tr:nth-child(even) {
    background-color: #f2f2f2;
}

#form1 {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  #loader {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.rating {
    display: inline-block;
    font-size: 24px;
}
.rating input {
    display: none;
}
.rating label {
    color: #ddd;
    float: right;
}
.rating label:before {
    content: '\f005';
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 5px;
}
.rating input:checked ~ label:before {
    color: #ffcc00;
}
/* Add custom styles for hover effect */
.rating label:hover:before {
    color: #ffcc00;
}

.developer {
  font-size: 16px;
  font-weight: bold;
  color: #5d5d5d;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
}

.name {
  font-size: 18px;
  color: #003db7;
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
