<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elective Subject Recommendation</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="loader"></div>
    <h1>Elective Subject Recommendation System</h1>
    <form action="/" method="get" onsubmit="return validateSemester()">
        <label for="">Enter Semester:</label>
        <select name="semester" required id="semester-select">
            <option value="">Select Semester</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <label for="">Enter Description:</label>
        <textarea name="description" required rows="3"></textarea>
        <input type="submit" value="Recommend">
        {% if error %}
        <p id="semester-error" style="color: red;">{{ error }}</p>
        {% else %}
        <p id="semester-error"></p>
        {% endif %}
    </form>
    {% if output_sem is defined and output_des is defined %}
    <div class="recommendation">
        <h2>{{ output_des }} - Semester {{ output_sem }}</h2>
        <p>is your recommended subject</p>
    </div>
    {% endif %}
    {% if output_dict is defined and output_dict|length > 0 %}
    <div class="suggested">
        <h2>Another Suggested Subjects</h2>
        <table>
            <thead>
                <tr style="font-weight: bold;">
                    <td>Subject Name</td>
                    <td>Subject Semester</td>
                    <td>FeedBack</td>
                </tr>
            </thead>
            <tbody>
                {% for key, value in output_dict.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                        <td>give</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
</body>
<script>
window.addEventListener("load", function() {
const loader = document.getElementById("loader");
loader.style.display = "none";
});

function validateSemester() {
  const semesterInput = document.getElementById('semester');
  const semester = parseInt(semesterInput.value);
  const semesterError = document.getElementById('semester-error');

  if (isNaN(semester) || semester < 1 || semester > 8) {
    semesterError.textContent = 'Semester must be a number between 1 and 8';
    return false;
  }

  return true;
}
</script>
</html>