<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elective Subject Recommendation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="loader"></div>
    <h1>Elective Subject Recommendation System</h1>
    <form action="/" method="get" id="form1">
        <label for="">Enter Semester:</label>
        <select name="semester" required id="semester-select">
            <option value="">Select Semester</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <label for="">Enter Description:</label>
        <textarea name="description" required rows="3" oninput="limitTextarea(this)" maxlength="250"></textarea>
        <input type="submit" value="Recommend">
    </form>
    <!-- <form action=""> -->
    {% if output_sem is defined and output_des is defined %}
    <div class="recommendation">
        <h2>{{ output_des }} - Semester {{ output_sem }}</h2>
        <p>is your recommended subject</p>
        <div class="rating">
            <input type="radio" id="star5_{{ output_des }}" name="main_rating" value="5" required>
            <label for="star5_{{ output_des }}"></label>
            <input type="radio" id="star4_{{ output_des }}" name="main_rating" value="4" required>
            <label for="star4_{{ output_des }}"></label>
            <input type="radio" id="star3_{{ output_des }}" name="main_rating" value="3" required>
            <label for="star3_{{ output_des }}"></label>
            <input type="radio" id="star2_{{ output_des }}" name="main_rating" value="2" required>
            <label for="star2_{{ output_des }}"></label>
            <input type="radio" id="star1_{{ output_des }}" name="main_rating" value="1" required>
            <label for="star1_{{ output_des }}"></label>
        </div>
    </div>
    {% if output_dict is defined and output_dict|length > 0 %}
    <div class="suggested">
        <h2>Another Suggested Subjects</h2>
        <table>
            <thead>
                <tr style="font-weight: bold;">
                    <td>Subject Name</td>
                    <td>Subject Semester</td>
                    <td>FeedBack</td>
                </tr>
            </thead>
            <tbody>
                {% for key, value in output_dict.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                        <td>
                            <div class="rating">
                                <input type="radio" id="star5_{{ key }}" name="{{ key }}" value="5" required>
                                <label for="star5_{{ key }}"></label>
                                <input type="radio" id="star4_{{ key }}" name="{{ key }}" value="4" required>
                                <label for="star4_{{ key }}"></label>
                                <input type="radio" id="star3_{{ key }}" name="{{ key }}" value="3" required>
                                <label for="star3_{{ key }}"></label>
                                <input type="radio" id="star2_{{ key }}" name="{{ key }}" value="2" required>
                                <label for="star2_{{ key }}"></label>
                                <input type="radio" id="star1_{{ key }}" name="{{ key }}" value="1" required>
                                <label for="star1_{{ key }}"></label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}

    <div class="suggestion">
        <h2>Give FeedBack and Suggestion</h2>
        <label for="">Enter Your Name :</label>
        <input type="text" name="feedbackname" id="feedbackname" required maxlength="100">
        <label for="">Enter FeedBack :</label>
        <textarea name="suggestion" required rows="3" oninput="limitTextarea(this)" maxlength="250"></textarea>
        <input type="submit" value="Give Suggestion">
    </div>
    {% endif %}
<!-- </form> -->

<div class="developer">Developed By</div>
<div class="name">Harsh Jolapara💻</div>

<!-- <div>HARSH JOLAPARA 🇮🇳</div> -->
</body>

<script>
// const feedbackNameInput = document.getElementById('feedbackname');
//     feedbackNameInput.addEventListener('input', function() {
//         if (this.value.length > 100) {
//             this.value = this.value.slice(0, 100);
//         }
//     });

function limitTextarea(textarea) {
    const MAX_WORDS = 250;
    const words = textarea.value.trim().split(/\s+/).length;
    if (words > MAX_WORDS) {
        const truncatedText = textarea.value.trim().split(/\s+/).slice(0, MAX_WORDS).join(" ");
        textarea.value = truncatedText;
    }
}

document.querySelectorAll('.rating input').forEach(function(input) {
    input.addEventListener('change', function() {
        document.getElementById('selectedRating').innerText = this.value;
    });
});

// Display the loader when the form is submitted
document.querySelector('form').addEventListener('submit', function() {
    document.getElementById('loader').style.display = 'block';
});

// Hide the loader after the page is loaded
window.onload = function() {
    document.getElementById('loader').style.display = 'none';
}
</script>

</html>